@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mali:wght@200;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh; /*medidas de viewport, se ve segun la pantalla*/
  width: 100vw; /*medida de viewport, se ve segun la pantalla*/
  background-color: #c4ddff;
}

.containerHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #0080bd;
  text-align: center;
}

 #homePoster{
    width: 50vw;
} 

/*Propiedades de tipografias*/
h1 {
  /*Titulo del header*/
  font-family: "Permanent Marker", cursive;
  font-size: 5 em;
  text-align: center;
  color: white;
}

p {
    /*Todos los parrafos*/
    font-family: "Mali", cursive;
    font-size: 1.2 em;
    white-space: pre-line;
    color: #3d56b2;
  }  

header p,
#characters,
#gender,
#species,
#orderAZ {
  font-family: "Mali", cursive;
  font-size: 2 em;
  color: white;
}

/*Contenedor y propiedades de la flechita*/
.containerArrow {
  /*contenedor de flechita*/
  display: flex;
  justify-content: center;
}

.arrow-down {
  /*flechita superior abajo del header*/
  width: 0;
  height: 0;
  border-left: 10em solid transparent;
  border-right: 10em solid transparent;
  border-top: 3em solid #0080bd;
}

/*Contenedor y propiedades de la seccion 1*/
.container1,
.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.section1 {
  width: 60vw;
  float: left;
  margin: 10% 0 0 0;
}

.container2 h2{
    margin: 10% 0 0 0; 
}

h2 {
  /*Todos los h2*/
  font-family: "Permanent Marker", cursive;
  font-size: 4 em;
  font-weight: bold;
  color: #3d56b2;
}

/*Tamaño y contenedor de imagenes seccion 1*/
.containerImg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 10% 0 0 0;
}

#calcifer,
#pinkTotoro,
#mononoke {
  /*tamaño de las imagenes*/
  height: 30%;
  width: 30%;
}

/*Propiedades de las imagenes de la seccion 2 Top pelis*/
.containerCovers {
  /*gif motitas de polvo*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
 
}

.posterImages {
  /*imagenes de peliculas*/
  padding: 2%;
  height: 30%;
  width: 30%;
  border-radius: 15%;
}
/**/
#search {
  /*buscador de películas*/
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 4%;
}

input {
  height: 40px;
  width: 250px;
  border: 1.5px solid #398ab9;
  border-radius: 10px;
  font-size: large;
  text-align: center;
}

.containerMiniGif{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#smallImg {
  /*imagenes chiquitas*/
  height: 100px;
  width: 100px;
} 

/*Propiedades de los select*/
.filters {
  /*para que el filtrado quede centrado en grupo en la parte de arriba*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10%;
  height: 100vh;
  width: 100vw;
}

#characters,
#gender,
#species, #orderAZ {
  /*características de personajes, género y especies para darle estilo*/
  height: 5%;
  width: 20%;
  border: 1.5px solid #398ab9;
  border-radius: 10px;
  font-size: large;
  background-color: #398ab9;
  text-align: center;
  font-size: 1.5em;
}

#characters:hover,
#gender:hover,
#species:hover {
  background-color: #3d56b2;
}

/*Elementos del Footer*/
.arrowEnd {
  /*contenedor de flechita*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 0;
  height: 0;
  border-left: 15em solid transparent;
  border-right: 15em solid transparent;
  border-bottom: 2em solid #0080bd;
}

nav p {
  /*título redes sociales*/
  text-align: center;
  color: white;
}

footer{
    width: 100vw;
}

.elementsNav {
  /*nav del footer*/
  background-color: #0080bd;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1%;
  padding-bottom: 1%;
}

.fa-brands {
  /*Son los íconos de redes sociales*/
  font-size: 40px;
  color: white;
}

.fa-brands:hover {
  color: #3d56b2;
}
/*Propiedades tarjetas html*/
.containerCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}
.moviesCard{
    width: 200px;
    height: 325px;
    object-fit: cover;
    object-position: top center; 
    background:cover;
    border: 1px solid rgba(255,255,255,0.13);
}

.imgCard {
    width: 250px;
    height: 400px;
    object-fit: cover; /* máscara de recorte */
    object-position: top center; 
    background:cover;
    border: 1px;
  }


/* 
Propiedades Modal o tarjetitas de peliculas*/
/* .imgModal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    height: 45%;
    width: 28%;
    margin-top: 4%;
  }
  .modalCard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    height: 60%;
    width: 90%;
    background: #7fb5ff;
    border-radius: 50px;
  }
  .modalCard1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
  }
  .modalCard2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  } */


/*tablet*/
@media (max-width: 1024px) and (min-width: 426px){
    #chihiroGif{
        display: none;
    }
    #smallImg{
        display: none;
    }
    #homePoster{
        width: 80vw;
        }
        #pinkTotoro{
            display: none;
        }

        #calcifer,
        #pinkTotoro,
        #mononoke {
            /*tamaño de las imagenes*/
            height: 50%;
            width: 50%;
        }
    h1{
        font-weight: bold;
        font-size: 5em;
    }

    h2{
        font-size: 2.5em;
        font-weight: bold;
    }

    p{
        font-weight: normal;
        font-size: 1.7em;
    }

    .filters {
        /*para que el filtrado quede centrado en grupo en la parte de arriba*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
      }
    
      #characters,
      #gender,
      #species,
      #orderAZ {
        height: 10%;
        width: 60%;
        margin: 2% 10% 2% 10%;
        text-align: center;
        font-size: 2em;
      }


      #characters{
          margin-top: 10%;
      }
      #searchFilms{
          margin-top: 20%;
          height: 40px;
        width: 250px;
      }
}

/*mobile*/
@media (max-width: 425px) and (min-width: 320px) {
    #chihiroGif {
      display: none;
    }
    #smallImg{
        display: none;
    }
    #homePoster{
        width: 100vw;
    }
    #pinkTotoro{
        display: none;
    }
    #calcifer,
        #pinkTotoro,
        #mononoke {
            /*tamaño de las imagenes*/
            height: 50%;
            width: 50%;
        }

        h1{
            font-weight: bold;
            font-size: 3em;
        }

        .banner p{
            margin: 5%;
        }
    
        h2{
            font-size: 2.5em;
            font-weight: bold;
        }
    
        p{
            font-weight: normal;
            font-size: 1.5em;
        }
    #search {
        /*buscador de películas*/
        display: none;
    }
    input{
        height: 40px;
        width: 250px;
        border: 1.5px solid #398ab9;
        border-radius: 10px;
        font-size: large;
        text-align: center;
      }

    .arrowEnd {
        /*contenedor de flechita*/
        display: none}
    
    .containerCovers {
      /*gif motitas de polvo*/
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 0%;
    }
  
    .posterImages {
      /*imagenes de peliculas*/
      padding: 2%;
      height: 50%;
      width: 50%;
      border-radius: 15%;
    }
  
    .filters {
      /*para que el filtrado quede centrado en grupo en la parte de arriba*/
      display: flex;
      flex-direction: column;
        
      align-items: center;
      justify-content: center;
      align-content: center;
    }
  
    #characters,
    #gender,
    #species,
    #orderAZ {
      margin: 5% 10% 5% 10%;
      height: 10%;
      width: 50%;
      margin: 2% 10% 2% 10%;
      text-align: center;
      font-size: 1.5em;
    }

    .fa-brands {
        font-size: 40px;
        padding: 5px;
    }

    .elementsNav p{
        font-size: 20px;
    }
  }